## Table Scraping & Visualization Example

In this notebook we will go through an example of how to download table data from a website and visualize it. As a toy example, we will use <i>data from Yale's Office of Institutional Research</i>.

In [ ]:
# You already know about these:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re

from urllib.request import urlopen
from bs4 import BeautifulSoup

In [ ]:
# Get the html of the page
url = "https://www.yale.edu/about-yale/yale-facts"
html = urlopen(url)

In [ ]:
# Create a Beautiful Soup object from the html
soup = BeautifulSoup(html, 'lxml')
type(soup)

In [ ]:
# Get the title
title = soup.title
print(title)

In [ ]:
# Get the text
text = soup.get_text()
print(soup.text)

In [ ]:
# You already know about this:

soup.find_all('a')

In [ ]:
# Get the tables!
rows = soup.find_all('tr')
print(rows)

In [ ]:
# Mmh, that's more than we need, let's see if we should splice the list:

print(rows[20])

In [ ]:
# Yes! That's the last row we need..splice there

rows = rows[:21]
print(rows)

In [ ]:
# We need to remove those tags again:
# Find all the characters inside the < td > html tags and replace them with an empty string 
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    # Match "<" followed by anything and ">" 
    clean = re.compile('<.*?>')
    # Replace matching substring with an empty string
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)

print(clean2)
type(clean2)

In [ ]:
# Convert the list into a dataframe
df = pd.DataFrame(list_rows)

df.head()

In [ ]:
# Let's split those lists into columns:
df1 = df[0].str.split(', ', expand=True)

df1.head()

In [ ]:
# Let's remove the brakets from the first..
df1[0] = df1[0].str.strip('[').str.strip(']')
# And the last column
df1[4] = df1[4].str.strip(']')

df1.head()

In [ ]:
# We need table titles! Let's find them from our soup
col_labels = soup.find_all('th')

type(col_labels)

In [ ]:
# Transform to string: 
all_header = []
col_str = str(col_labels)
all_header = BeautifulSoup(col_str, "lxml").get_text()

print(all_header)

In [ ]:
# We don't need them all!
header = all_header[:47]
print(header)

In [ ]:
# Assign to dataframe header

df1.columns = header.split(', ')
df1.head()

In [ ]:
# Delete the empty row!

df1 = df1.dropna(axis=0, how='any')
df1.head()

In [ ]:
# WShat are those empty spaces?

df1.iloc[3]['Male']

In [ ]:
# Ok, let's replace and delete!

df1.replace('\xa0', np.nan, inplace=True)
df1 = df1.dropna(axis=0, how='any')
df1.head()

In [ ]:
# Let's get ready for plotting:

# The first column is really the index of the dataframe; 
df1.set_index('[Division', inplace=True)

# Also we need to convert the values to numbers
df1 = df1.apply(lambda x: x.str.replace(',',''))
df1 = df1.apply(lambda x: x.str.replace('%',''))
df1 = df1.astype(float)

df1.head()

In [ ]:
df1['% Male'] = df1['Male']*100/df1['Total']
df1['% Female'] = df1['Female']*100/df1['Total']
df1.head()

In [ ]:
df1.plot.bar(y=['% Male', '% Female'], stacked=True)

In [ ]:
df1.plot.bar(y=['% International'], color='green')

## Your turn!

In the above example, we extracted data from one of the tables in the Yale Facts website. Now you'll try to extract data from another table -- the number of degrees conferred in the 2017-18 academic year.

Remember when we extracted the tables on the website, we only retained the first 21 rows -- but we can still recover the rest:

In [ ]:
# Print the first 10 rows for sanity check
rows = soup.find_all('tr')
print(rows)

Exercise 1: slice the list of tables retaining only the data points the number of degrees conferred

In [ ]:
rows = ###YOUR ANSWER HERE###

In [ ]:
# Check it matches the website
print(rows)

In [ ]:
# Find all the characters inside the < td > html tags and replace them with an empty string 
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    # Match "<" followed by anything and ">" 
    clean = re.compile('<.*?>')
    # Replace matching substring with an empty string
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

In [ ]:
# Convert the list into a dataframe
df = pd.DataFrame(list_rows)
df.head(10)

Let's now get the titles for this new data - remember we have already downloaded the titles earlier:

In [ ]:
print(all_header)

Exercise 2: extract the relevant titles for this dataframe from the list we downloaded earlier

In [ ]:
header = ###YOUR ANSWER HERE###
header = header.strip('[')
header = header.split(', ')
print(header)

Exercise 3: convert the dataframe into a format we can work with, using these steps:

In [ ]:
# 1. convert the first column into multiple columns
df1 = ###YOUR ANSWER HERE###

df1.head()

In [ ]:
# 2. delete extra characters (e.g. '[', ']', '%', ...)
df1[0] = df1[0].str.strip('[').str.strip(']')
df1[4] = df1[4].str.strip(']').str.strip('%')

df1.head()

In [ ]:
# 3. remember we had trouble earlier converting strings to floats 
#.   because they had a comma separator; let's change those commas now
df1 = df1.apply(lambda x: x.str.replace(',',''))

df1.head()

In [ ]:
# 4. assign the titles we extracted
df1.columns = ###YOUR ANSWER HERE###

df1.head()

In [ ]:
# 5. replace empty cells with NaN
###YOUR ANSWER HERE###

df1.head()

In [ ]:
# 6. drop empty rows
###YOUR ANSWER HERE###

df1.head()

In [ ]:
# 7. convert first column to index
###YOUR ANSWER HERE###

df1.head()

In [ ]:
# 8. Convert strings to floats
df1 = df1.astype(float)

df1.head()

In [ ]:
# 9. Create new columns for percentage for easier plotting
df1['% Male'] = df1['Men']*100/df1['Total']
df1['% Female'] = df1['Women']*100/df1['Total']

df1.head()

Great, now we are ready for plotting!

Exercise 4: make a bar graph plotting the % of degrees conferred (y axis) for each degree type (x axis), separately for male and female (colors)

In [ ]:
###YOUR ANSWER HERE###